@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Condensed&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
}

h1 span {
  color: orange;
}

h3 {
  font-size: 1.17em;
}

#experience-area .half-width > h3 {
  color: orange;
}

p {
  color: dimgray;
}

.flexible-container {
  display: flex;
  margin-bottom: 50px;
}

#top-banner {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}

#dream-area {
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}

#experience-area {
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
  padding-bottom: 100px;
}

#special-flex {
  justify-content: space-around;
}

#experience-area .half-width {
  box-shadow: 5px 7px 40px grey;
}

.half-width {
  width: 50%;
  padding: 40px;
}

.half-width img {
  width: 100%;
}

.link-button {
  text-decoration: none;
  background: linear-gradient(45deg, lightsalmon, tomato);
  padding: 10px 40px;
  border-radius: 5px;
  color: white;
  font-weight: 700;
}

#left-exp {
  width: 38%;
  border-left: 7px solid tomato;
}

#right-exp {
  width: 38%;
  border-left: 7px solid blue;
}

footer p {
  text-align: center;
}
